.secret {
    margin: auto;
    height: 80vh;
    width: 80vw;
    display: grid;
    place-items: center;
    background: rgba(0, 0, 255, 0.514);
}

.secret .secret_items {
    height: 80%;
    width: 80%;
    border: 10px solid rgba(0, 0, 255, 0.6);
    box-shadow: -10px -10px 10px rgba(255, 255, 255, 0.3), 15px 15px 15px rgba(0, 0, 0, 0.2), inset -10px -10px 10px rgba(255, 255, 255, 0.3), inset 15px 15px 15px rgba(0, 0, 0, 0.2);
    display: grid;
    place-content: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.secret_items h4 {
    margin-top: 20px;
}

.secret_items h4 span {
    background: yellowgreen;
    padding: 10px;
    font-size: 2vw;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}