@import url("https://fonts.googleapis.com/css?family=Nunito+Sans");

:root {
  --blue: #0e0620;
  --white: #fff;
  --green: #150281;
}

button {
  font-family: "Nunito Sans";
}

.text_content h1 {
  font-weight: bold;
  font-size: 3rem;
}

.div_container {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--blue);
}

.img_content {
  height: 50%;
}

.img_content svg {
  height: 100%;
}

.text_content {
  height: 50%;
  width: 80%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn {
  z-index: 1;
  overflow: hidden;
  background: transparent;
  position: relative;
  padding: 8px 50px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1em;
  letter-spacing: 2px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  font-weight: bold;
  margin: 10px auto;
}

.btn.green {
  border: 4px solid var(--green);
}

.link {
  color: var(--green);
  text-decoration: none !important;
}

.link:hover {
  color: var(--white);
}

.btn.green:hover .link {
  color: var(--white);
}

.btn.green:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background: var(--green);
  z-index: -1;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.btn.green:hover {
  color: var(--white);
  background: var(--green);
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.btn.green:hover:before {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .div_container {
    flex-direction: row;
  }

  .img_content {
    height: 100%;
    width: 50%;
  }

  .img_content svg {
    width: 100%;
  }

  .text_content {
    width: 40%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}