* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.background {
  height: 100%;
  width: 100%;
  background-image: url("./asset/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  filter: blur(1.7px);
  -webkit-filter: blur(1.7px);
}

.background::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: hsl(229, 100%, 50%);
  mix-blend-mode: color;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}